{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'blog' %}
  {{ super() }}
{% endblock seo %}

{% block body %}
  {% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <div class="blog-header">
            <h1>{{ page.title }}</h1>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
          {% if page.toc %}
              <h2>Table of contents</h2>
              <ul>
              {% for h1 in page.toc %}
                  <li>
                      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                      {% if h1.children %}
                          <ul>
                              {% for h2 in h1.children %}
                                  <li>
                                      <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                  </li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                  </li>
              {% endfor %}
              </ul>
          {% endif %}
          {{ page.content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
