<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="samba.css" rel="stylesheet">
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }} - samba event export">
  </head>

  <body>
    <article id="event">
      <div id="title-section">
        <h2 id="event-title">{{ title }}</h2>
        {% if !tags.is_empty() -%}
        <div id="tags">
          {% for tag in tags -%}
          <span class="tag">{{ tag }}</span>
          {% endfor -%}
        </div>
        {% endif -%}
      </div>

      <section class="flexed">
        <h4>Date</h4>
        <p>{{ date }}</p>
      </section>
      <section class="flexed">
        <h4>Venue</h4>
        <div>
          <p>{{ location }}</p>
          <!--<img src="map.png" />-->
        </div>
      </section>
      <section class="flexed">
        <h4>Organizer</h4>
        <p>{{ organizer }}</p>
      </section>

      {% if !timetable.is_empty() -%}
      <section id="timetable">
        <h3>Timetable</h3>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Group &amp; Class</th>
              <th>Floor</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in timetable %}
            <tr><td>{{ entry.0 }}</td><td>{{ entry.1 }}</td><td>{{ entry.2.unwrap_or("1") }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      {% endif -%}

      {% if !playlist.is_empty() -%}
      <section id="playlist">
        <h3>Playlist</h3>
        {% include "playlist-section.html" %}
      </section>
      {% endif -%}
    </article>
  </body>
</html>
