<table class="numbered-table">
  <thead>
    <tr>
      <th>№</th>
      <th>Track title</th>
      <th>Dance</th>
      <th>Tempo</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in playlist %}
    <tr><td>{{ entry.0 }}</td><td>{{ entry.1 }}</td><td>{{ entry.2.unwrap_or("—") }}</td></tr>
    {% endfor %}
  </tbody>
</table>
